<!DOCTYPE html>
<html>
<head>
  <title>MonTwitter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div class="span-24">
<%= render 'layouts/header' %>
</div>
<div class="span-4">
Left sidebar
</div>

<div class="span-16">
<div class="span-16 last">

<%= yield %>

</div>
</div>

<div class="span-4 last">
Right sidebar
</div>
<div class="span-24">
<%= render 'layouts/footer' %>
</div>


</body>
</html>
